<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="list-log" routerLinkActive="active" class="nav-link">Log List</a>
    </li>
    <li class="nav-item">
      <a routerLink="upload-log" class="nav-link">Upload Log</a>
    </li>
  </ul>
</nav>
<h1 class="text-center">{{ title }}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2021 @EversonFx</span>
  </div>
</footer>