<div class="row">
    <div class="col-md-6">
        <form (ngSubmit)="onSearch()" class="example">
            <input [(ngModel)]="searchText" type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>
<div class="col-md-6">
    <button (click)="cleanSearch()" class="btn btn-primary btn-sm space-bet-el"><span class="fa fa-eraser"></span> Limpar</button>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Data</th>
            <th>IP</th>
            <th> <button (click)="addLog()" class="btn btn-info"><span class="fa fa-plus fa-lg"></span></button></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let log of logs">
            <td> {{ log.data }} </td>
            <td> {{ log.ip }} </td>
            <td>
                <button (click)="logDetails(log.id)" class="btn btn-secondary"><span class="fa fa-eye"></span></button>
                <button (click)="updateLog(log.id)" class="btn btn-warning" style="margin-left: 10px"><span
                        class="fa fa-pencil"></span></button>
                <button (click)="deleteLog(log.id)" class="btn btn-danger" style="margin-left: 10px"><span
                        class="fa fa-trash"></span></button>
            </td>
        </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><button (click)="prevPage('first')" class="page-link"><strong>First</strong></button></li>
        <li class="page-item"><button (click)="prevPage()" class="page-link">Previous</button></li>
        <li class="page-item"><a class="page-link" href="#">{{ currentPage }}</a></li>
        <li class="page-item"><button (click)="nextPage()" class="page-link">Next</button></li>
        <li class="page-item"><button (click)="nextPage('last')" class="page-link"><strong>Last</strong></button></li>
    </ul>
</nav>